apiVersion: v1
data:
  values.yaml: |
    grafana:
      enabled: false
    prometheus:
      prometheusSpec:
        retention: 15d
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 20Gi
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: prometheus-values
  namespace: flux-system
